*{margin: 0;padding: 0; box-sizing: border-box;}
.container{ width: 1600px;margin:0 auto;height: 6534px;}
.structure{ width: 1180px; margin: 0 auto;}
.fix{overflow: hidden;}
.fl{float:left;}
.fr{float: right;}
.clr{clear: both;}
h1{}
h4{}
p{}
h4{}
a{text-decoration: none; color :#242f51}
li{list-style: none;}
/* gobal css ends here */
/* nav section starts here */
.naviBar{}
.logo{width:30%;}
.logo a{}
.logo a :hover{filter: invert();}
.navMenu{}
.navMenu ul{text-align: center;}
.navMenu ul li{display: inline-block; list-style: none;}
.navMenu ul li a{ text-decoration: none;}
.navMenu ul li a:hover{}
.freeLogin{}
.freeLogin a{}
.freeLogin a:hover{background-color: #e8631c;transition: all .3s ease-in;cursor: pointer;}
/* nav section ends here */
/* promodivsection starts here */
.promodiv{background-image: url('images/mobileBgimage.png');background-size: cover;background-repeat: no-repeat;}
.promoBox {}
.promoText{}
.promoText a{}
.promoText h1{}
.promoText p{}
.promoButtons {}
.promoButtons a{ border-radius: 10px;}
/* promodivsection ends here */
/* trustedComp section starts here */
.trustedComp{}
.tCompbox{}
.tCompbox h4{}
.tCompImg{}
.tCompImg a{}
/* trustedComp section ends here */
/* appFetures starts here  */
.appFetures{background-image: url('images/2ndmegaBg.png');background-size: cover;background-repeat: no-repeat;}
.appFitBox {}
.fetText{ text-align: left;}
.fetText h1{}
.fetText p{}
.feturesBoxes{}
.fetVisual {}
.visualImg {}
.visualImg a{}
.visualText {}
.visualText h5{}
.visualText p{}
/* appFetures ends here  */
/* smartJps starts here */

.smartJps{}
.smartJpstext{}
.onejps{}
.onejps h1{}
.twojps{}
.twojps p{}
/* smartJps ends here */
/* deleveryAdvetise section starts here */
.deleveryAdvetise{}
.deleveryAddBOx {}
.delPromoBOxes{}
.delPromoBOxes a{}
.delPromoBOxes h4{}
.delPromoBOxes p{}
/* deleveryAdvetise section ends here */
/* credit section starts here */
.credit{background-image: url('images/credits\ background.png');background-size: cover;background-repeat: no-repeat;}
.creditBox {}
.creditText{text-align: left;}
.creditText h1{ }
.creditText p{}
.creditText a{}

/* credit section ends here */
/* importance section starts here */
.importanceBox{}
.importenceHeading{text-align: center;}
.importenceHeading h1{}
.importenceHeading p{}
.importanceBoxes{}
.importanceMiniBox {}
.importanceMiniBox a{}
.importanceMiniBox h4{}
.importanceMiniBox p{}

/* importance section ends here */
/* planning section stars here */
.planning{background-image: url('images/2ndmegaBg.png');background-size: cover;background-repeat: no-repeat;}
.planningBox {}
.planningHeading{}
.planningHeading h1{}
.planningHeading p{}
.planningBoxes{}
.planningMiniBox{}
.planningMiniBox a {}
.planningMiniBox h4 {}
.planningMiniBox p {}

/* planning section ends here */
/* charges section starts here */
.charges{}
.chargesBox{}
.chargesHeading{}
.chargesHeading h1{}
.chargesHeading p{}
.oneToggleButtons{}
.oneToggleButtons a{}
.priceCarts {}
.priceMinicart {}
.carthead{}
.carthead h1{}
.carthead h4{}
.carthead p{}
.cartBdy{}
.cartBdy ul{}
.cartBdy ul li{}
.cartBdy ul li a{}
.cartBdy ul li a:hover{background-color: #e8631c;transition: all .3s ease-in;cursor: pointer;}
.cartBdy a{}
.cartBdy a:hover{}
/* charge ssection ends here */
/* cliantReview starts here */
.cliantReview{background-image: url('images/Cliant\ satisfaction\ Area\ Bg.png');background-size: cover;background-repeat: no-repeat;}
.cliantRevBox{}
.cliantRevTxt{text-align: left;}
.cliantRevTxt h1{}
.cliantRevTxt p{}
.cliantRevTxt h4{}
.cliantRevTxt p{}
.ourCEO {}
.ceoImg {}
.ceoInfo{}
.ceoInfo h4{}
.ceoInfo p{}
.arrowbtn {}
/* cliantReview ends here */

/* faq section starts here */
.faq{}
.faqBox{}
.faqBox h1{}
.faqBox p{}
.quesboxex{}
.questionbox1{text-align: left;}
.questionbox h4{}
.questionbox p{}
.questionbox2{text-align: left;}
.questionbox2 p{}
.questionbox2 a{}


/* faq  section ends here */
/* downloadApp section starts here */

.downloadApp{}
.downloaderBOx{text-align: left;}
.downloadedHeading h1{}
.downloadedHeading p{}
.downloadLink{}
.downloadLink a{}
/* downloadApp section ends here */
/* footer section starts here */

.footer{}
.footerBOx{text-align: center;}
.footerLogo{}
.footerLogo a{}
.footerMiniNav{}
.footerMiniNav ul{}
.footerMiniNav ul li{}
.footerMiniNav ul li a{}
.footerMiniNav ul li a:hover{background-color: #e8631c;transition: all .3s ease-in;cursor: pointer;}
.footerSocial a{}
.cpyright{}
.cpyright a{}
/* footer section ends here */